.profile {
  position: relative;
}

.profile > div {
  background-color: var(--clr-foreground);
  border-radius: 10px;
  margin-top: 1em;
  text-align: center;
  height: calc(14.8rem - 15px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.profile > img:nth-child(1) {
  height: 320px;
  object-fit: cover;
  width: 100%;
}

.profile > .thumbnail{
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 260px;
  transform: translateX(-50%);
}

.profile h4 {
  font-weight: normal;
}

.profile h4 + div {
  width: 100%;
  display: grid;
  grid-gap: 0.2em;
  grid-template-columns: 10% auto 10%;
  margin-bottom: 1em;
  color: var(--clr-text-secondary);
}

.profile h4 + div > div:first-child {
  grid-row: span 2;
  align-self: center;
}

.profile h4 + div > div:last-child {
  text-align: end;
  grid-row: span 2;
  grid-column: -1 / -2;
  align-self: center;
  color: var(--clr-text-primary);
}

.profile h4 + div > div:nth-child(3) {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}

.profile h4 + div > div:is(:nth-child(2), :nth-child(3)) {
  & i{
    font-size: 1.1rem;
  }

  & span{
    font-size: 0.9rem;
  }
}

.profile h4 + div > div:nth-child(1) i {
  font-size: 1.5rem;
}

.profile button {
  background-color: var(--clr-btn-secondary);
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  font-size: 0.9em;
  transition: all 0.2s;
}

.profile button:hover {
  background-color: var(--clr-btn-secondary-dark);
}
