.modals {
  height: 626px;
  width: 35vw;
  background-color: white;
  position: fixed;
  z-index: 100;
  margin: auto;
  inset: 0;
  border-radius: 10px;
  box-shadow: 0 0 8px -3px #0000006e;
}

.modals * {
  display: none;
}

.modals-enter-active {
  animation: modals-anim 400ms linear; /*here fill mode is none which is the default value*/
}

.modals-enter-done *{
  display: unset;
}

.modals-exit-active {
  animation: modals-anim 400ms linear reverse forwards;
}

@keyframes modals-anim {
  0% {
    height: 50px;
    width: 0vw;
  }
  50% {
    height: 50px;
    width: 35vw;
  }
  100% {
    height: 626px;
    width: 35vw;
  }
}

.modals > div:first-child {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.modals h2 + i{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: end;
  color: #757675;
}

.modals h2:has(+ i){
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  justify-self: center;
}

.modals :where(button, i){
  cursor: pointer;
}
