.comments{
  overflow: auto;
}

.comments form {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.comments form img {
  width: 30px;
  height: 30px;
  max-width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.comments form > * {
  flex: 1 0 auto;
}

.comments form input {
  flex: 294 0 auto;
  margin-inline: 1em;
  outline: none;
  border: 1px solid var(--clr-background);
  padding-block: 5px;
  background-color: var(--clr-background);
}

.comments form button {
  background-color: var(--clr-btn-secondary);
  color: white;
  padding: 5px 10px;
  transition: all 0.2s;
}

.comments form button:hover {
  background-color: var(--clr-btn-secondary-dark);
}

.comment-enter {
  height: 0px;
}

.comment-enter-active {
  height: 165px;
  transition: height 0.2s linear;
}

.comment-enter-done {
  height: 165px;
}

.comment-exit {
  height: 165px;
}

.comment-exit-active {
  height: 0px;
  transition: height 0.2s linear;
}
