.create-post {
  background-color: var(--clr-foreground);
  border-radius: 10px;
  margin: auto;
  font-size: 0.9rem;
}

.create-post form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 1em;
  color: var(--clr-text-secondary);
  column-gap: 1em;
}

.create-post div {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  border-bottom-color: var(--clr-text-secondary)!important;
}

.create-post input[type="file"] {
  display: none;
}

.create-post div img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.create-post div input {
  width: 86%;
  outline: none;
  border: none;
  background-color: var(--clr-background);
}

.create-post span {
  line-height: 26px;
}

.create-post span i{
  margin-inline-end: .35em;
  font-size: 1rem;
}

.create-post span:has(+ button) {
  justify-self: end;
}

.create-post button {
  width: fit-content;
  font-size: 0.75rem;
  justify-self: end;
  transition: background-color 0.2s;

  &:enabled {
    background-color: var(--clr-btn-primary);
    color: white;
    cursor: pointer;
  }

  &:enabled:hover {
    background-color: var(--clr-btn-primary-dark);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.create-post label {
  grid-column: 1 / -1;
  cursor: pointer;
}
