.friends-container{
    background-color: white;
    border-radius: 10px;
    order: 0;
    width: 365px;
}

.friends-container ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.friends-container ul li:last-child > div{
    margin-bottom: 0 !important;
}