.friend{
    display: flex;
    align-items: center;
    column-gap: .7em;
}

.friend > *{
    flex: 1 0 auto;
}

.friend > div{
    flex: 265 0 auto;
}

.friend img{
    width: 3.125rem;
    height: 3.125rem;
    max-width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.friend i{
    font-size: 1.2rem;
}

.friend a{
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--clr-text-primary);
    /* transition: color .5s; */
}

.friend a:hover{
    color:var(--clr-text-primary-hover);
}

.friend time{
    display: block;
    margin-block-start: -5px;
    font-size: .8rem;
    color: var(--clr-text-secondary);
}

