.navbar {
  background-color: white;
  padding: 12px 90px;
  position: sticky;
  top: 0;
  z-index: 10;

  & nav {
    display: flex;
    justify-content: space-between;

    & > div {
      display: flex;
      align-items: center;
      gap: 1.8em;

      & > a {
        color: #0cd0f8;
        text-decoration: none;
        transition: all 0.2s;

        &:hover {
          color: #0bc1e6;
        }
      }
    }
  }
  & i {
    font-size: 1.2rem;
    color: #333;
  }
  & :where(input, button) {
    outline: none;
    border: none;
    background-color: transparent;
  }
  & select {
    outline: none;
    border: none;
    padding: 7px 8px;
    background: #f4f3f4;
    border-radius: 7px;
  }
  & div:has(> input) {
    display: flex;
    align-items: center;
    background-color: #f4f3f4;
    padding: 3px 28px;
    border-radius: 7px;
    font-size: 0.9rem;
  }
}
