.navbar {
  background-color: var(--clr-foreground);
  padding: 12px 90px;
  position: sticky;
  top: 0;
  z-index: 10;

  & nav {
    display: flex;
    justify-content: space-between;

    & > div {
      display: flex;
      align-items: center;
      gap: 1.8em;

      & > a {
        color: var(--clr-btn-primary);
        text-decoration: none;
        transition: all 0.2s;

        &:hover {
          color: var(--clr-btn-primary-dark);
        }
      }
    }
  }
  & i {
    font-size: 1.2rem;
    color: var(--clr-text-primary);
  }
  

  & :where(input, button) {
    outline: none;
    border: none;
    background-color: transparent;
  }
  & div:has(> input) {
    display: flex;
    align-items: center;
    background-color: var(--clr-background);
    padding: 3px 28px;
    border-radius: 7px;
    font-size: 0.9rem;
  }
}
