.post {
  border-radius: 10px;
  background-color: var(--clr-foreground);
  margin: auto;

  & p {
    font-size: 0.9rem;
  }

  & > img {
    width: 100%;
    object-fit: cover;
    height: 320px;
    border-radius: 10px;
  }

  & > div:nth-of-type(2) {
    display: grid;
    grid-template-columns: repeat(4, max-content) auto;

    & i {
      font-style: normal;
      color: var(--clr-text-primary);
      margin-inline-end: .5em;

      &:nth-of-type(3) {
        justify-self: end;
      }
    }

    & span{
      margin-inline-end: 1em;
    }
  }
}

.like::before {
  color: orangered;
  animation: like-anim 0.3s alternate;
}

@keyframes like-anim {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}
