.user-widget{
    display: grid;
    grid-template-columns: 10% 70% 20%;
    grid-template-rows: repeat(2, auto) repeat(10, 31px);
    background-color: var(--clr-foreground);
    border-radius: 10px;
    top: 104px;
    position: sticky;
    align-items: center;
}

.user-widget img{
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    object-fit: cover;
    grid-row: span 2;
}

.user-widget a{
    align-self: end;
    margin-left: 1.8em;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--clr-text-primary);
    /* transition: color .5s; */
}

.user-widget a:hover{
    color:var(--clr-text-primary-hover);
}

.user-widget h6:nth-of-type(1){
    grid-column: 2 / span 1;
    font-size: .8rem;
    color: var(--clr-text-secondary);
    font-weight: 100;
    margin-left: 2.2em;
    margin-bottom: 0;
}

.user-widget span{
    align-self: center;
}

.user-widget span:not(:nth-of-type(n + 7)) {
    font-size: .8rem;
    color: var(--clr-text-secondary);
    font-weight: 100;
}

.user-widget span:nth-of-type(n + 7){
    font-size: .9rem;
    color: var(--clr-text-primary);
}

.user-widget h6:nth-of-type(2){
    grid-column: span 3;
    color: var(--clr-text-primary);
}

.user-widget hr{
    grid-column: 1 / -1;
}

.user-widget i{
    color: var(--clr-text-secondary);
    font-size: 1.2rem;
}

.user-widget i:nth-of-type(1){
    grid-column: 3 / 4;
    grid-row: span 2;
    justify-self: end;
    align-self: center;
    font-size: 1.3rem;
}

.user-widget i:nth-of-type(3) {
    grid-column: 1 / 2;
}

.user-widget span:is(:nth-of-type(4), :nth-of-type(6)) {
    text-align: end;
}

.user-widget span:not(:nth-of-type(4), :nth-of-type(6)){
    grid-column: span 2;
}

@media (max-width: 992px) {
    .user-widget{
        grid-template-columns: 3% 77% 20%;
        position: static;
    }
}

@media (max-width: 992px) {
    .user-widget{
        grid-template-columns: 4% 76% 20%;
    }
}

@media (max-width: 576px) {
    .user-widget{
        grid-template-columns: 6% 74% 20%;
    }
}