@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root{
  --clr-background: #f4f3f4;
  --clr-foreground: white;
  --clr-text-primary: #333;
  --clr-text-primary-hover: #333333a8;
  --clr-text-secondary: #757675;
  --clr-btn-primary: #0cd0f8;
  --clr-btn-primary-dark: #0cbbde;
  --clr-btn-secondary: #5971fb;
  --clr-btn-secondary-dark: #4660fb;
  --clr-icon-hover: #e2e1e2;
}

.darkmode{
  --clr-background: #0e0c0e;
  --clr-foreground: #191819;
  --clr-text-primary: white;
  --clr-text-primary-hover: #c9c9c9;
  --clr-text-secondary: #9a9999;
  --clr-btn-primary: #0cd0f8;
  --clr-btn-primary-dark: #0cbbde;
  --clr-btn-secondary: #5971fb;
  --clr-btn-secondary-dark: #4660fb;
  --clr-icon-hover: #000000;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

#root{
  min-height: 100vh;
  background-color: var(--clr-background);
  color: var(--clr-text-primary);
}

input{
  color: var(--clr-text-primary);

  &::placeholder{
    color: var(--clr-text-secondary);
  }
}

i.cursor{
  position: relative;
  z-index: 0;
}

i.cursor::after{
  content: '';
  position: absolute;
  width: 100%;
  aspect-ratio: 1;
  background-color: transparent;
  border-radius: 50%;
  inset: 0;
  margin: auto;
  z-index: -1;
  scale: 0;
  transition: background-color 300ms, scale 300ms;
}

i.cursor:hover::after{
  background-color: var(--clr-icon-hover);
  scale: 2;
}

.cursor{
  cursor: pointer;
}