#image {
  position: fixed;
  z-index: 100;
  cursor: pointer;
  max-width: 100%;
  max-height: 100%;

  width: auto;
  height: auto;
  object-fit: none;
  object-position: initial;
}

 .image-enter {
  inset: var(--initial-top) var(--initial-right) var(--initial-bottom)
    var(--initial-left);
  scale: .05;
  opacity: .01;
  border-radius: 50% !important;
}

.image-enter-active {
  border-radius: 0 !important;
  scale: 1;
  inset: var(--final-top) var(--final-right) var(--final-bottom)
    var(--final-left);
  transition: inset 300ms, opacity 600ms, scale 300ms 300ms, border-radius 50ms 550ms;
  opacity: 1;
}

.image-enter-done {
  border-radius: 0 !important;
  inset: var(--final-top) var(--final-right) var(--final-bottom)
    var(--final-left);
}

.image-exit {
  border-radius: 0 !important;
  inset: var(--final-top) var(--final-right) var(--final-bottom)
    var(--final-left);
    opacity: 1;
}

.image-exit-active {
  border-radius: 50% !important;
  opacity: .01;
  scale: .05;
  inset: var(--initial-top) var(--initial-right) var(--initial-bottom)
    var(--initial-left);
  transition: inset 300ms 300ms, scale 300ms, opacity 600ms, border-radius 50ms;
} 